body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: roboto;
  --homePane-background-color: #724dbf;
  --mainPane-background-color: #4dbf60;
  --projectsPane-background-color: #e5e65c;
  --contactPane-background-color: #5a78e6; }

.contentPane {
  position: absolute;
  top: 0;
  left: 0;
  width: 115vw;
  height: 100vh;
  transform-origin: bottom left;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: rotate(-85deg);
  transition: transform 0.75s ease-in-out; }

.paneBannerTop {
  position: relative;
  top: -2vh;
  left: 0;
  width: 105vw;
  height: 7vw;
  transform-origin: left bottom;
  transform: rotate(-1.6deg); }
  .paneBannerTop:after {
    position: fixed;
    top: 2vh;
    left: 0;
    content: "";
    width: 105vw;
    height: 4.5vw;
    transform-origin: right bottom; }

.paneBannerBottom {
  position: absolute;
  top: 92vh;
  left: 0;
  width: 105vw;
  height: 10vh;
  transform-origin: left bottom;
  background-color: #404040;
  animation: paneBannerBottomAnimation 0.25s ease-in-out; }
  .paneBannerBottom:after {
    position: fixed;
    background-color: #5a5a5a;
    top: 96vh;
    left: -105vw;
    content: "";
    width: 105vw;
    height: 6vh;
    transform-origin: right bottom;
    animation: paneBannerBottomAfterAnimation 0.25s ease-in-out forwards;
    animation-delay: 0.4s; }

.paneBannerBottomHide {
  animation: paneBannerBottomHideAnimation 0.25s ease-in-out forwards; }

.homePane {
  background-color: var(--homePane-background-color);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.homeTitle {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 1px 1px #404040; }

.mainPane {
  background-color: var(--mainPane-background-color);
  color: white; }

.mainPane .paneBannerTop {
  background-color: var(--mainPane-background-color);
  filter: brightness(106%);
  color: black; }
  .mainPane .paneBannerTop:after {
    background-color: var(--mainPane-background-color);
    filter: hue-rotate(45deg) brightness(80%);
    transform: rotate(2.6deg); }

.projectsPane {
  background-color: var(--projectsPane-background-color);
  color: black; }

.projectsPane .paneBannerTop {
  background-color: var(--projectsPane-background-color);
  filter: brightness(106%);
  color: black; }
  .projectsPane .paneBannerTop:after {
    background-color: var(--projectsPane-background-color);
    filter: hue-rotate(45deg) brightness(80%);
    transform: rotate(2.6deg); }

.contactPane {
  background-color: var(--contactPane-background-color);
  color: white; }

.contactPane .paneBannerTop {
  background-color: var(--contactPane-background-color);
  filter: brightness(106%);
  color: black; }
  .contactPane .paneBannerTop:after {
    background-color: var(--contactPane-background-color);
    filter: hue-rotate(45deg) brightness(80%);
    transform: rotate(2.6deg); }

.paneLable {
  position: fixed;
  display: inline;
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 0.6rem;
  bottom: 10px;
  left: 85vh;
  border-radius: 20px 0px 20px 0px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s ease-in-out; }

.paneContent {
  position: absolute;
  background-color: #404040;
  width: calc(100vw - 400px);
  opacity: 0;
  height: 0vh;
  left: 0;
  top: 0;
  padding: 3rem;
  padding-top: 9rem;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 8vh;
  box-sizing: border-box;
  box-shadow: 2px 2px 60px 0px rgba(0, 0, 0, 0.35);
  border-radius: 100px 0px 100px 0px;
  overflow-y: hidden; }

.paneContentHeader {
  position: absolute;
  text-align: center;
  font-size: 2.33rem;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 7rem;
  padding-top: 2.33rem;
  box-sizing: border-box;
  border-radius: 100px 0px 0 0px;
  background-color: #2a2a2a; }

.paneContentOpen {
  animation: paneContentOpenAnimation 1s forwards;
  animation-delay: 0.75s; }

.paneContentClose {
  animation: paneContentOpenAnimationClose 0.75s forwards; }

.paneContentHomeColor {
  color: #d5caec; }

.paneContentMainColor {
  color: #caecd0; }

.paneContentContactColor {
  color: #eef1fc; }

.paneContentProjectsColor {
  color: #fdfdef; }

@keyframes paneBannerBottomAnimation {
  0% {
    left: 105vw; }
  100% {
    left: 0vw; } }
@keyframes paneBannerBottomAfterAnimation {
  0% {
    transform: rotate(1.2deg) translate(0, 0); }
  100% {
    transform: rotate(1.2deg) translate(100%, 0); } }
@keyframes paneBannerBottomHideAnimation {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
@keyframes paneContentOpenAnimation {
  0% {
    height: 0vh;
    opacity: 0; }
  100% {
    height: 86vh;
    opacity: 1; } }
@keyframes paneContentOpenAnimationClose {
  0% {
    height: 86vh;
    opacity: 1; }
  100% {
    height: 0vh;
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
